#header {
    /* background-color: rgb(245, 238, 238) !important; */
    background-color: #FFFF !important;
    color: red !important;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

#user-tools {
    color:gray !important;
    font-weight: bold;
}

#header a:link,
#header a:visited {
    color: black !important;
    font-weight: normal !important;
}

div.breadcrumbs {
    background-color: gray !important;
}

#changelist-filter h2 {
    background-color: gray !important;
}

input[type="submit"] {
    background-color: gray !important;
    color: white !important;
}

input[type="submit"]:hover {
    background-color: gray !important;
    color: white !important;
}

caption {
    background-color: gray !important;
}
